@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?f3g1jx');
  src:  url('fonts/icomoon.eot?f3g1jx#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?f3g1jx') format('truetype'),
    url('fonts/icomoon.woff?f3g1jx') format('woff'),
    url('fonts/icomoon.svg?f3g1jx#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-camera:before {
  content: "\e933";
}
.icon-microphone:before {
  content: "\e934";
}
.icon-arrow-left:before {
  content: "\e92b";
}
.icon-arrow-right:before {
  content: "\e938";
}
.icon-briefcase:before {
  content: "\e921";
}
.icon-calendar:before {
  content: "\e92e";
}
.icon-chevron-down:before {
  content: "\e93a";
}
.icon-chevrons-up:before {
  content: "\e926";
}
.icon-corner-up-left:before {
  content: "\e92c";
}
.icon-file-text:before {
  content: "\e922";
}
.icon-home1:before {
  content: "\e923";
}
.icon-refresh-cw:before {
  content: "\e924";
}
.icon-repeat:before {
  content: "\e93b";
}
.icon-sun:before {
  content: "\e925";
}
.icon-add-outline:before {
  content: "\e900";
}
.icon-add-solid:before {
  content: "\e901";
}
.icon-airplane:before {
  content: "\e902";
}
.icon-arrow-outline-up:before {
  content: "\e927";
}
.icon-arrow-thick-up:before {
  content: "\e928";
}
.icon-arrow-thin-up:before {
  content: "\e929";
}
.icon-calendar1:before {
  content: "\e92f";
}
.icon-camera1:before {
  content: "\e903";
}
.icon-checkmark-outline:before {
  content: "\e915";
}
.icon-cheveron-down:before {
  content: "\e916";
}
.icon-cheveron-left:before {
  content: "\e917";
}
.icon-cheveron-outline-down:before {
  content: "\e918";
}
.icon-cheveron-outline-left:before {
  content: "\e919";
}
.icon-cheveron-outline-right:before {
  content: "\e91a";
}
.icon-cheveron-outline-up:before {
  content: "\e91b";
}
.icon-cheveron-right:before {
  content: "\e91c";
}
.icon-cheveron-up:before {
  content: "\e91d";
}
.icon-close-outline:before {
  content: "\e91e";
}
.icon-close-solid:before {
  content: "\e91f";
}
.icon-currency-dollar:before {
  content: "\e904";
}
.icon-globe:before {
  content: "\e905";
}
.icon-home:before {
  content: "\e906";
}
.icon-information-outline:before {
  content: "\e907";
}
.icon-location:before {
  content: "\e908";
}
.icon-location-food:before {
  content: "\e909";
}
.icon-location-hotel:before {
  content: "\e90a";
}
.icon-location-shopping:before {
  content: "\e90b";
}
.icon-mic:before {
  content: "\e935";
}
.icon-pin:before {
  content: "\e90c";
}
.icon-play-outline:before {
  content: "\e90d";
}
.icon-reply:before {
  content: "\e92d";
}
.icon-show-sidebar:before {
  content: "\e930";
}
.icon-travel-bus:before {
  content: "\e90e";
}
.icon-travel-car:before {
  content: "\e90f";
}
.icon-travel-case:before {
  content: "\e910";
}
.icon-travel-train:before {
  content: "\e911";
}
.icon-travel-walk:before {
  content: "\e912";
}
.icon-view-tile:before {
  content: "\e931";
}
.icon-volume-down:before {
  content: "\e937";
}
.icon-watch:before {
  content: "\e920";
}
.icon-zoom-in:before {
  content: "\e913";
}
.icon-zoom-out:before {
  content: "\e914";
}
.icon-home11:before {
  content: "\e932";
}
.icon-camera11:before {
  content: "\e936";
}
.icon-bullron:before {
  content: "\e92a";
}
.icon-ticket:before {
  content: "\e939";
}
.icon-coin-yen:before {
  content: "\e93e";
}
.icon-credit-card:before {
  content: "\e93f";
}
.icon-calculator:before {
  content: "\e940";
}
.icon-compass2:before {
  content: "\e94a";
}
.icon-calendar2:before {
  content: "\e953";
}
.icon-bubbles3:before {
  content: "\e96f";
}
.icon-stats-bars:before {
  content: "\e99c";
}
.icon-spoon-knife:before {
  content: "\e9a3";
}
.icon-leaf:before {
  content: "\e9a4";
}
.icon-briefcase1:before {
  content: "\e9ae";
}
.icon-airplane1:before {
  content: "\e9af";
}
.icon-clipboard:before {
  content: "\e9b8";
}
.icon-sphere:before {
  content: "\e9c9";
}
.icon-earth:before {
  content: "\e9ca";
}
.icon-flag:before {
  content: "\e9cc";
}
.icon-attachment:before {
  content: "\e9cd";
}
.icon-volume-medium:before {
  content: "\ea27";
}
.icon-loop:before {
  content: "\ea2d";
}
.icon-arrow-up2:before {
  content: "\ea3a";
}
.icon-table2:before {
  content: "\ea71";
}
