@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?rzy90g');
  src:  url('fonts/icomoon.eot?rzy90g#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?rzy90g') format('truetype'),
    url('fonts/icomoon.woff?rzy90g') format('woff'),
    url('fonts/icomoon.svg?rzy90g#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-briefcase:before {
  content: "\e921";
}
.icon-chevrons-up:before {
  content: "\e926";
}
.icon-file-text:before {
  content: "\e922";
}
.icon-home1:before {
  content: "\e923";
}
.icon-refresh-cw:before {
  content: "\e924";
}
.icon-sun:before {
  content: "\e925";
}
.icon-add-outline:before {
  content: "\e900";
}
.icon-add-solid:before {
  content: "\e901";
}
.icon-airplane:before {
  content: "\e902";
}
.icon-arrow-outline-up:before {
  content: "\e927";
}
.icon-arrow-thick-up:before {
  content: "\e928";
}
.icon-arrow-thin-up:before {
  content: "\e929";
}
.icon-camera:before {
  content: "\e903";
}
.icon-checkmark-outline:before {
  content: "\e915";
}
.icon-cheveron-down:before {
  content: "\e916";
}
.icon-cheveron-left:before {
  content: "\e917";
}
.icon-cheveron-outline-down:before {
  content: "\e918";
}
.icon-cheveron-outline-left:before {
  content: "\e919";
}
.icon-cheveron-outline-right:before {
  content: "\e91a";
}
.icon-cheveron-outline-up:before {
  content: "\e91b";
}
.icon-cheveron-right:before {
  content: "\e91c";
}
.icon-cheveron-up:before {
  content: "\e91d";
}
.icon-close-outline:before {
  content: "\e91e";
}
.icon-close-solid:before {
  content: "\e91f";
}
.icon-currency-dollar:before {
  content: "\e904";
}
.icon-globe:before {
  content: "\e905";
}
.icon-home:before {
  content: "\e906";
}
.icon-information-outline:before {
  content: "\e907";
}
.icon-location:before {
  content: "\e908";
}
.icon-location-food:before {
  content: "\e909";
}
.icon-location-hotel:before {
  content: "\e90a";
}
.icon-location-shopping:before {
  content: "\e90b";
}
.icon-pin:before {
  content: "\e90c";
}
.icon-play-outline:before {
  content: "\e90d";
}
.icon-travel-bus:before {
  content: "\e90e";
}
.icon-travel-car:before {
  content: "\e90f";
}
.icon-travel-case:before {
  content: "\e910";
}
.icon-travel-train:before {
  content: "\e911";
}
.icon-travel-walk:before {
  content: "\e912";
}
.icon-watch:before {
  content: "\e920";
}
.icon-zoom-in:before {
  content: "\e913";
}
.icon-zoom-out:before {
  content: "\e914";
}
.icon-arrow-up2:before {
  content: "\ea3a";
}
